.categories
  %ul
    %li
      = link_to "#", class: "category__search search__btn" do
        -# = image_tag asset_path("icon/icon-search.png"), height: "15px", width: "15px", class: "icon__category"
        カテゴリー
      %ul.category__parent.category__list
        - @parents.each do |parent|  
          - if parent.name.include?("カテゴリー一覧")
            %li
              = link_to "#", class: "category__parent--name" do
                = parent.name
          - else
            %li
              = link_to "#", class: "category__parent--name" do
                = parent.name
              %ul.category__child.category__list
                - parent.children.each do |child|
                  %li
                    = link_to "#", class: "category__child--name" do
                      = child.name
                    %ul.category__grandchild.category__list
                      - child.children.each do |grandchild|
                        %li
                          = link_to "#", class: " category__grandchild--name" do
                            = grandchild.name