.background
  .login
    %h2 会員情報登録
    = form_for(@sending_destination, html: { class: "login-content" }, url: addresses_path) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        %h3.text-left.l-chapter-sub-head お届け先情報の登録
      .form-group
        = f.label "宛名(全角)"
        %span.form-require 必須
        = f.text_field :destination_first_name, autofocus: true, placeholder: "例）山田", class: "input-default half"
        = f.text_field :destination_family_name, autofocus: true, placeholder: "例）彩", class: "input-default half"
      .form-group
        = f.label "宛名(カナ)"
        %span.form-require 必須
        = f.text_field :destination_family_name_kana, autofocus: true, placeholder: "例）ヤマダ", class: "input-default half"
        = f.text_field :destination_first_name_kana, autofocus: true, placeholder: "例）アヤ", class: "input-default half"
      .form-group
        = f.label "郵便番号(半角)"
        %span.form-require 必須
        = f.text_field :post_code, autofocus: true, placeholder: "例）1234567", class: "input-default half"
      .form-group
        = f.label "お客様住所"
        %span.form-require 必須
        = f.text_field :prefecture_code, placeholder: "例）東京都", class: "input-default half"
        = f.text_field :city, placeholder: "例）新宿区", class: "input-default half"
        = f.text_field :house_number, placeholder: "例）1-1-1", class: "input-default half"
        = f.text_field :building_name, placeholder: "例）TECHマンション203", class: "input-default half"
      .form-group
        = f.label "電話番号(半角)"
        %span.form-require 必須
        = f.text_field :phone_number, placeholder: "例）08012341234", class: "input-default half"
      .form-group
        = f.submit "新規登録", class: "submit-btn"
= render "share/footer"        