-# 参考サイトにパンクずのヒントがあったため一応記述しましたが今回はまだ使いません
-# .breadcrumbs
-#   .breadcrumbs__list
-#     =link_to "トップページ","/"
-#     = succeed "\u{5bb6}\u{96fb}\u{30fb}\u{30b9}\u{30de}\u{30db}\u{30fb}\u{30ab}\u{30e1}\u{30e9}" do
-#       %i.fa.fa-angle-right
-#     = succeed "\u{751f}\u{6d3b}\u{5bb6}\u{96fb}" do
-#       %i.fa.fa-angle-right
-#     = succeed "\u{6383}\u{9664}\u{6a5f}" do
-#       %i.fa.fa-angle-right
-#     %i.fa.fa-angle-right
-#     %span.current ロンパ君（お掃除ロボット）
.mainShow
  .mainShow__box
    .mainShow__box__content
      .mainShow__box__content__top
        .mainShow__box__content__top__itemBox
          %h2=@item.name
          .mainShow__box__content__top__itemBox__images
            %ul.image__main
              %li.image__main__list
                = image_tag(@item.item_images.first.url.to_s,class: "main__photo")
                -if @item.buyer_id.present? 
                  .items-box_photo__sold
                    .items-box_photo__sold__inner SOLD
                .image__box
                  %ul.image__sub
                    -#  - @images.each do |img|
                    -#   %li.image__sub__list
                    -#     =　image_tag(img.item_images.url,class:"sub__photo",size: "75x75")
          .mainShow__box__content__top__itemBox__price
            %span.price
              =@item.price
              円
            .mainShow__box__content__top__itemBox__price__detail
              %span
                (税込)
              %span
                送料込み
          .mainShow__box__content__top__itemBox__explanation
            =@item.introduction
          .mainShow__box__content__top__itemBox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td= @user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#{@category_parent.name}","#"
                    %br/
                    = link_to "#{@category_child.name}","#"
                    %br/
                    = link_to "#{@category_grandchild.name}","#"
                %tr
                  %th ブランド
                  %td=@item.brand
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td=@item.condition_id
                %tr
                  %th 配送料の負担
                  %td=@item.postage_payer
                %tr
                  %th 発送元の地域
                  %td
                    =link_to "#{@item.prefecture_id}","#"
                %tr
                  %th 発送日の目安
                  %td=@item.preparationday_id
          .mainShow__box__content__top__itemBox__option
            -# いいね、コメント機能はまだ封印します
            -# %ul#like
            -#   %li.like__list
            -#     =link_to ""
            -#       %i.fa.fa-star
            -#       お気に入り
            -#       0
            -# %ul.report
            -#   %li.report__list
            -#     =link_to "","#"
            -#       %i.fa.fa-flag
            -#       不適切な商品の通報
        .mainShow__box__content__top__editDeleteBuy
          - if current_user == @user
            = link_to "商品の編集", edit_item_path(@item.id), data: {"turbolinks" => false} , class: "edit"
            = link_to "商品の削除", item_path(@item.id), method: :delete, class: "destory"
          - elsif @item.buyer_id.present? 
            = link_to "売り切れたのでトップページへ",root_path,class:"disabled-button bold"  
          - elsif user_signed_in?
            =link_to "購入画面に進む", buy_item_purchase_index_path(@item.id) ,class:"pay"
          - else
        -# .mainShow__box__content__top__commentBox
        -#   .title
          -#   コメント一覧
          -# #comments.mainShow__box__content__top__commentBox__comments
          -# %form#comment_form.new_comment
          -#   %input
          -#   %input
          -#   %textarea#comment_comment.text_area
          -#   %p.note
          -#     相手のことを考え丁寧なコメントを心がけましょう。
          -#     %br>/
          -#     不快な言葉遣いなどは利用制限や退会処分となることがあります。
          -#     %br/
          -#   %input.comment_btn{"data-disable-with" => "コメントする", :name => "", :type => "submit", :value => "コメントする"}/
      -#   %ul.links
      -#     %li.links__before
      -#       =link_to "","#",class:"angle__left"
      -#         %i.fa.fa-angle-left
      -#         %span 前の商品
      -#     %li.links__after
      -#       =link_to "","#",class:"angle__right"
      -#         %span 後ろの商品
      -#         %i.fa.fa-angle-right
      -# .mainShow__box__content__related
      -#   =link_to"家電・スマホ・カメラをもっと見る","#",class:"related"
