!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Furima79H
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{type: "text/javascript"} Payjp.setPublicKey('pk_test_4cdf3d88d1f1177b0672680b');
  %body
    %header.head
      .head__main
        .head__main__top
          %h1.head__main__top__icon
            = link_to image_tag("/assets/logo/logo.png",class:"head__main__top__icon__img"), "/"
          %form.head__main__top__search{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
            %input.head__main__top__search__input{:name => "key", :placeholder => "キーワードから探す"}/
            %button.head__main__top__search__btn{:type => "submit"}
              =image_tag  "/assets/icon/icon-search.png",class:"head__main__top__search__btn__img"
        .head__main__bottom
          %ul.head__main__bottom__left
            %li.head__main__bottom__left__item
              = link_to "カテゴリー", "#",{class: "head__main__bottom__left__item__link"}
            %li.head__main__bottom__left__item
              = link_to "ブランド", "#",{class: "head__main__bottom__left__item__link"}
          - if user_signed_in?
            %ul.head__main__bottom__right
              %li.head__main__bottom__left__item
                = link_to "マイページ", "/users/#{current_user.id}"
              %li.head__main__bottom__right__item
                = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %ul.head__main__bottom__right
              %li.head__main__bottom__right__item
                = link_to "ログイン", new_user_session_path,{class: "head__main__bottom__left__item__link"}
              %li.head__main__bottom__right__item
                = link_to "新規会員登録", new_user_registration_path,{class: "head__main__bottom__left__item__link"}
    = yield

